fastapi
uvicorn
sqlalchemy
psycopg2-binary
opensearch-py
langchain
langchain-community
beautifulsoup4
sentence-transformers
python-dotenv
openai
langgraph
langchain-huggingface
langchain-text-splitters
requests
pinecone
pinecone-text
